body {
  background-color: #E4E5E7;
  padding-top: 100px;
}
.aside {
  height: 400px;
}
.main {
  height: 400px;
}

.task-title {
  font-weight: 400;
  padding-top: 5px;
}
.task-title--done{
  color: darkgrey;
  text-decoration: line-through;
}
.notifyHolder{
  position: absolute;
  top: 30px;
  left: 20%;
  transform: translateX(-50);
  width: 530px;
  height: 40px;
}
.alert{
  transition: opacity 0.2s ease-in;
}
.alertOpacity{
  transition: opacity 0.2s ease-in;
  opacity:0;
}